# Correlations

An essential task in data analyses or data science is to find __correlations__ between different variables or observables

Such correlations can be obvious to the naked eye, or they may need very careful analysis

Let's look at some examples

In [4]:
import numpy as np
import pandas as pd

data = pd.read_csv("../../Data/data_HW1.txt",delim_whitespace=True)

In [5]:
data

       x      y   x.1   y.1   x.2    y.2   x.3    y.3
0   10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
1    8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
2   13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
3    9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
4   11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
5   14.0   9.96  14.0  8.10  14.0   8.84   8.0   7.04
6    6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
7    4.0   4.26   4.0  3.10   4.0   5.39  19.0  12.50
8   12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
9    7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
10   5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89

In [20]:
x0 = data["x"]
y0 = data["y"]
x1 = data["x.1"]
y1 = data["y.1"]
x2 = data["x.2"]
y2 = data["y.2"]
x3 = data["x.3"]
y3 = data["y.3"]
print("Mean and standard deviation for each column:")
print(f"x0: {x0.mean()},{x0.std():.2f}, y0: {y0.mean():.2f},{y0.std():.2f}")
print(f"x1: {x1.mean()},{x1.std():.2f}, y1: {y1.mean():.2f},{y1.std():.2f}")
print(f"x2: {x2.mean()},{x2.std():.2f}, y1: {y2.mean():.2f},{y2.std():.2f}")
print(f"x3: {x3.mean()},{x3.std():.2f}, y1: {y3.mean():.2f},{y3.std():.2f}")

Mean and standard deviation for each column:
x0: 9.0,3.32, y0: 7.50,2.03
x1: 9.0,3.32, y1: 7.50,2.03
x2: 9.0,3.32, y1: 7.50,2.03
x3: 9.0,3.32, y1: 7.50,2.03

Does that mean we're looking at the same data in each pair of columns?

In [ ]:
fig, ax = plt.subplot(2,2)